@implements IDisposable

@inject NavigationManager NavigationManager

@* TODO: weggooien als frontend werkt *@
@* <div class="top-row ps-3 navbar navbar-dark"> *@
@*     <div class="container-fluid"> *@
@*         <a class="navbar-brand" href="">GrowthHub.WebUi</a> *@
@*     </div> *@
@* </div> *@
@* *@
@* <input type="checkbox" title="Navigation menu" class="navbar-toggler"/> *@
@* *@
@* <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()"> *@
@*     <nav class="flex-column"> *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> *@
@*                 <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home *@
@*             </NavLink> *@
@*         </div> *@
@* *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="counter"> *@
@*                 <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter *@
@*             </NavLink> *@
@*         </div> *@
@* *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="weather"> *@
@*                 <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather *@
@*             </NavLink> *@
@*         </div> *@
@* *@
@*         <div class="nav-item px-3"> *@
@*             <NavLink class="nav-link" href="auth"> *@
@*                 <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required *@
@*             </NavLink> *@
@*         </div> *@
@* *@
@*         <AuthorizeView> *@
@*             <Authorized> *@
@*                 <div class="nav-item px-3"> *@
@*                     <NavLink class="nav-link" href="Account/Manage"> *@
@*                         <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name *@
@*                     </NavLink> *@
@*                 </div> *@
@*                 <div class="nav-item px-3"> *@
@*                     <form action="Account/Logout" method="post"> *@
@*                         <AntiforgeryToken/> *@
@*                         <input type="hidden" name="ReturnUrl" value="@currentUrl"/> *@
@*                         <button type="submit" class="nav-link"> *@
@*                             <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout *@
@*                         </button> *@
@*                     </form> *@
@*                 </div> *@
@*             </Authorized> *@
@*             <NotAuthorized> *@
@*                 <div class="nav-item px-3"> *@
@*                     <NavLink class="nav-link" href="Account/Register"> *@
@*                         <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register *@
@*                     </NavLink> *@
@*                 </div> *@
@*                 <div class="nav-item px-3"> *@
@*                     <NavLink class="nav-link" href="Account/Login"> *@
@*                         <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login *@
@*                     </NavLink> *@
@*                 </div> *@
@*             </NotAuthorized> *@
@*         </AuthorizeView> *@
@*     </nav> *@
@* </div> *@

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <NavLink class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-fw fa-chart-pie"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Growth<br/>Hub</div>
    </NavLink>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <NavLink class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </NavLink>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <NavLink class="nav-link" href="/cashbook">
            <i class="fas fa-fw fa-table"></i>
            <span>Cashbook</span>
        </NavLink>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}